body {
    background-image: url(./photos/background-image.jpg);
    background-repeat: no-repeat;
}


:root {
    --heading-color: #f6f6f6;
    --transparent-color: #00d449;
    --box-color: #010101;
    --box--color-2: #434343;
    --accent-color: #834daa;
}


.caption {
    color:#f6f6f6;
}