body {
    background-image: url(./photos/background-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


:root {
    --heading-color-t:  rgb(246, 246,246,0.72);
    --heading-color: #f6f6f6;
    --glow-color: #00d449;
    --box-color: #010101;
    --box--color-2: #434343;
    --accent-color: #834daa;
    --accent-color-t: rgba(132, 78, 170, 0.474);
}

header {
    background-color: var(--accent-color-t);
    position: sticky;
    height
    
}

nav ul li {
    color:#010101
}

#about-me, 
#my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.element-background{
    background-image: url(./photos/background-image.jpg);
    background-color: transparent;
    border-radius: 10%;
    
}



#self-portrait{
    max-width: 30vw;
    border-radius: 10%;
}

#self-portrait:hover{
    box-shadow: #00d449;
    
}
.caption {
    color:var(--heading-color-t);
}

.paragraph {
    color: var(--heading-color-t);
    font-size: 1.5rem;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 60vw;
}

